<h1>質問ゲーム</h1>
<h1>お題の言葉を生成AIの解答に含めるような質問を考えよう！</h1>

<%= form_with url: play_game_path, method: :post do |form| %>
<%= form.label :target_word, "お題の言葉" %>
<%= form.text_field :target_word, placeholder: "お題の言葉を入力", value: params[:target_word] %><br><br>

<%= form.label :question, "質問文" %>
<%= form.text_area :question, placeholder: "質問文を入力", value: params[:question] %><br><br>

<%= form.submit "質問する" %><br><br>
<% end %>

<%= link_to "トップへ戻る", root_path %>

<!-- 結果を表示する部分 -->
<div id="result">
  <% if @result %>
  <%= render 'result' %>
  <% end %>
</div>