<div class="flex flex-col items-center justify-center w-full">
  <div class="text-center">
    <h1 class="text-4xl font-bold m-8">質問ゲーム</h1>
    <h2 class="text-2xl">お題の言葉を含む回答が生成されるように質問を考えよう！</h2>
  </div>

  <%= form_with url: play_game_path, method: :post, class: "space-y-6 w-full max-w-2xl mx-auto text-center" do |form| %>
  <div class="mb-8">
    <%= form.label :target_word, "お題の言葉", class: "block text-lg font-medium text-gray-700" %>
    <%= form.text_field :target_word, placeholder: "お題の言葉を入力", value: params[:target_word] %>
  </div>
  <div class="mb-8">
    <%= form.label :question, "質問文", class: "block text-lg font-medium text-gray-700" %>
    <%= form.text_area :question, placeholder: "質問文を入力", value: params[:question], class: "mt-2 block w-full px-4 py-3 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-lg" %>
  </div>
  <div class="mb-8">
    <%= form.submit "質問する", class: "inline-flex justify-center py-3 px-6 border border-transparent shadow-sm text-lg font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
  </div>
  <% end %>
  <div class="mt-4">
    <%= link_to "トップへ戻る", root_path, class: "text-indigo-600 hover:text-indigo-900 text-lg" %>
  </div>

  <!-- 結果を表示する部分 -->
  <div id="result">
    <% if @result %>
    <%= render 'result' %>
    <% end %>
  </div>
</div>